* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 100px 500px
}

.text-warning {
    color: orange;
    font-size: 40px
}

h2 {
    font-size: 70px
}

.mt-5 {
    margin-top: 50px
}

.text-muted {
    color: rgb(148, 147, 147);
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center
}

.col-4 {
    width: 33.3%
}

p {
    font-size: 20px
}

img {
    margin-top: 20px
}